/* Style sheet for Palette deliverables. To be used with documents
   built according to template Palette-Deliv.xtd
*/

/* cover */
div.cover-project {clear: both; padding-top: 2.2em}
p.projnum {text-align: center}
p.projacronym {font-weight: bold; text-align: center}
p.projname {text-align: center}
p.projtype {text-align: left; margin-top: 2.2em; margin-bottom: 0}
p.programme {margin-bottom: 0}
p.startdate {float: left}
p.duration {float: right}
div.cover-deliverable {clear: both; padding-top: 2.2em}
h1.delivname {font-weight: bold; font-size: 125%;
              text-align: center; margin-bottom: 2.5em}
p.duedate {text-align: center; margin-bottom: .1em}
p.actualdate {text-align: center; margin-top: .1em}
p.orgname {margin-top: 1.8em}
p.status {text-align: right}
table.dissemination {width: 100%; margin-top: 2em}
td.dissemhead {text-align: center; font-weight: bold}
td.dissemlevel {text-align: center; font-weight: bold; font-size: 85%}
td.dissemlev1 {text-align: center; font-weight: bold; width: 15%}
td.dissemlev2 {padding-left: .3em; padding-right: .3em}

/* table of contents */
div.toc li {list-style-type: none}
div.toc > ul {font-weight: bold; margin-left: 0; padding-left: 0}
div.toc ul ul {margin-left: 1.5em; padding-left: 0}
div.toc > ul ul {font-weight: normal}

/* document body */
h2 {font-size: 130%}
h3 {font-size: 115%}
h4 {font-size: 100%}
div.example {margin-left: 1.2em}
div.example pre {margin-bottom: 0.4em}
div.example p {margin-top:0; font-style:italic}
div.figure {text-align: center}
div.figure p {margin-top:0; font-style:italic; text-align: center}
div.figure pre {text-align: left}

/* bibliography */
div.biblio {margin-left: 1.3em}
div.biblio p {text-indent: -1.3em}

/* page layout and style for printing */
@media print {
    html {margin: 0; padding: 0}
    body {font: 11pt serif}
    div.cover {page: cover-page; page-break-after: always}
    div.summary {page: cover-page; page-break-before: right;
                 page-break-after: always}
    div.toc {page: toc-page; page-break-after: always;
             counter-reset: page 1;}
    div.body {counter-reset: page 1; page-break-before: right}
    a {text-decoration: none; color: inherit}
    p, li, dd {text-align: justify}
    pre, tt, code {font-size: 85%;
                   font-family: "Bitstream Vera Sans Mono",
                                "Lucida Console", monospace}
    pre {line-height: 1.3}
    table {border-collapse: collapse; empty-cells: show;
           border: 1px solid black}
    td, th {border: 1px solid black}
    div.topfigure {margin: 1em 0 1em; float: top; width: 100%;}
    .biblio p {text-align: left}
    h1 {string-set: header content()}
    div.toc a::after {
       content: leader('.') target-counter(attr(href), page); }
    @page {
      margin: 27mm;
      /* border-top: thin solid black;
         border-bottom: thin solid black; */
      padding: 6mm 0 4mm;
      size: a4;
      font: 11pt serif; 
      }
    @page :left {
      @top-left {
        content: "Palette FP6-028038";
        font-style: italic;
        font-size: 11pt;
        vertical-align: bottom;
        margin: 0.3em 0;
        }
      @bottom-left {
        content: counter(page);
        font-size: 11pt;
        vertical-align: top;
        margin: 0.3em 0;
        }
      }
    @page :right {
      @top-right { 
        content: string(header);
        font-style: italic;
        font-size: 11pt;
        vertical-align: bottom;
        margin: 0.3em 0;
        }
      @bottom-right {
        content: counter(page);
        font-size: 11pt;
        vertical-align: top;
        margin: 0.3em 0;
        }
      }
    @page cover-page {
      @top-right { content: normal }
      @top-left { content: normal }
      @bottom-left { content: normal }
      @bottom-right { content: normal }
      }
    @page toc-page :left {
      @top-right { content: normal }
      @top-left { content: normal }
      @bottom-right { content: normal }
      @bottom-left {
        content: counter(page, lower-roman);
        font-size: 11pt;
        vertical-align: top;
        }
      }
    @page toc-page :right {
      @top-right { content: normal }
      @top-left { content: normal }
      @bottom-left { content: normal }
      @bottom-right {
        content: counter(page, lower-roman);
        font-size: 11pt;
        vertical-align: top;
        }
      }
    }
