Source: amaya
Section: web
Priority: optional
Maintainer: Regis Boudin <regis@debian.org>
Uploaders: Anand Kumria <wildfire@progsoc.org>
Build-Depends: debhelper (>= 5.0.0), libpng12-dev, libjpeg62-dev, libglu1-mesa-dev | libglu-dev, libfreetype6-dev, libwxgtk2.8-dev, libraptor1-dev, libwww-dev, libx11-dev
Standards-Version: 3.7.3
Homepage: http://www.w3.org/Amaya

Package: amaya
Architecture: any
Depends: amaya-data (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: amaya-doc, ttf-freefont
Provides: www-browser
Description: Web Browser, HTML Editor and Testbed for Draft W3C standards
 Amaya is a WYSIWYG HTML Editor and browser with support for many 
 of the latest standards from the W3C and other features, such as:
        - eXtensible HyperText Markup Language (XHTML)
        - Scalable Vector Graphics (SVG)
        - Math Markup Language (MathML)
        - Cascading Style Sheets (CSS)
        - Resource Description Framework (RDF)
        - XML Link (XLink)
        - XML Pointer Language (XPointer)
        - Collaborative annotations

Package: amaya-data
Architecture: all
Recommends: amaya
Description: Web Browser, HTML Editor and Testbed for Draft W3C standards [data]
 Amaya is a WYSIWYG HTML Editor and browser with support for many 
 of the latest standards from the W3C and other features.
 .
 This package contains the architecture independent data.

Package: amaya-doc
Section: doc
Architecture: all
Description: Web Browser, HTML Editor and Testbed for Draft W3C standards [doc]
 Amaya is a WYSIWYG HTML Editor and browser with support for many 
 of the latest standards from the W3C and other features.
 .
 This package contains the documentation.

