Source: amaya
Section: web
Priority: extra
Maintainer: Steve Dunham <dunham@debian.org>
Standards-Version: 2.3.0.0

Package: amaya
Architecture: i386
Conflicts: thot-common
Replaces: thot-common, amaya-static
Depends: ${shlibs:Depends}
Description: Graphical HTML Editor from w3.org
 Amaya is a WYSIWYG HTML Editor, based on the thot toolkit
 developed at INRIA.

