Source: amaya
Section: web
Priority: optional
Maintainer: Steve Dunham <dunham@debian.org>
Standards-Version: 3.5.8
Build-Depends: bison, flex, autoconf, automake1.6, debhelper (>= 4.1.34), libtool, libjpeg62-dev, libpng2-dev, zlib1g-dev, libgtk1.2-dev, gdk-imlib1-dev, perl, libungif4-dev, autotools-dev

Package: amaya
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: amaya, amaya-dict-de, amaya-dict-en, amaya-dict-fr, amaya-dict-it, amaya-dict-ne, amaya-dict-se
Replaces: amaya-dict-de, amaya-dict-en, amaya-dict-fr, amaya-dict-it, amaya-dict-ne, amaya-dict-se, amaya-common
Provides: www-browser
Description: Web Browser, HTML Editor and Testbed for Draft W3C standards
 Amaya is a WYSIWYG HTML Editor and browser with support for many of the latest
 draft standards for HTML/XHTML (e.g. SVG, MathML, Annotea).  This package
 contains the gtk version of Amaya.

