#!/usr/bin/make -f
# MAde with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	-mkdir BUILD
	cd BUILD && ../configure --prefix=/usr --datadir=/usr/lib
	# Add here commands to compile the package.
	cd BUILD && make CFLAGS="-O2 -g -Wall" all amaya

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Doesn't really clean anything


	dh_clean

# Build architecture-independent files here.
binary-indep: build
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install
	cd BUILD && $(MAKE) install prefix=$(PWD)/debian/tmp/usr datadir=$(PWD)/debian/tmp/usr/lib

	# Doesn't quite work:
	-rm debian/tmp/usr/bin/amaya
	ln -s ../lib/thot/applis/bin/amaya debian/tmp/usr/bin
	install -m 0644 amaya/AmayaPage.html debian/tmp/usr/lib/thot/amaya
	install -m 0644 debian/amaya.1 debian/tmp/usr/man/man1
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
