#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

#export DH_VERBOSE=1

SOURCE:=amaya-src-5.1.tgz

build: build-stamp
build-stamp: patch-stamp
	dh_testdir

	-mkdir Amaya/BUILD
	cd Amaya && \
		cp /usr/share/misc/config.sub /usr/share/misc/config.guess . \
		&& autoconf && autoheader
	cd Amaya/BUILD && ../configure --prefix=/usr --datadir=/usr/lib \
		`dpkg --print-architecture`-linux
	# Add here commands to compile the package.
	cd Amaya/BUILD && make CFLAGS="-O2 -g -Wall" all amaya

	touch build-stamp

patch: patch-stamp
patch-stamp: source-stamp
	if [ -d debian/patches ]; then \
	for i in debian/patches/*; do \
		patch -p0 -s <$$i; \
	done; fi

	touch patch-stamp

source: source-stamp
source-stamp:
	tar zxf $(SOURCE)
	cd libwww && libtoolize --force --copy
	cp /usr/share/misc/config.guess /usr/share/misc/config.sub Amaya
	touch source-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f *-stamp

	-rm -rf Amaya libwww

	dh_clean

# Build architecture-independent files here.
binary-indep: build
	dh_testdir

# Build architecture-dependent files here.
binary-arch: build
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_clean -k -a
	dh_installdirs -a

	# Install
	cd Amaya/BUILD && $(MAKE) install prefix=`pwd`/../../debian/tmp/usr datadir=`pwd`/../../debian/tmp/usr/lib

	# Doesn't quite work, so we move some stuff around
	mv debian/tmp/usr/Amaya debian/tmp/usr/lib
	-rm debian/tmp/usr/bin/amaya
	ln -s ../lib/Amaya/applis/bin/amaya debian/tmp/usr/bin
	install -m 0644 Amaya/amaya/AmayaPage.html \
		debian/tmp/usr/lib/Amaya/amaya
	install -m 0644 debian/amaya.1 debian/tmp/usr/share/man/man1
	cp Amaya/amaya/*.{en,fr,TRA,STR,PRS,trans,gif,conf} \
		debian/tmp/usr/lib/Amaya/amaya

	chmod -R o+w debian/tmp/usr/lib/Amaya

	dh_installdocs -a
	dh_installexamples -a
	dh_installmenu -a
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
#	dh_makeshlibs
	dh_md5sums -a
	dh_builddeb -a

#source diff:                                                                  
#	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
