#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g
CXXFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
	CXXFLAGS += -O0
else
	CFLAGS += -O2
	CXXFLAGS += -O2
endif

ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALLER_PROGRAM += -s
endif

BUILD_DIR=WX

prune-non-free:
	rm fonts/ESSTIX*
	patch -p1 <debian/patches/no_esstix.diff
	rm -r tools/cextract*
	patch -p1 <debian/patches/no_cextract.diff
	rm -r libjpeg libpng
	patch -p1 <debian/patches/pngjpeg.diff
	autoconf

apply-patches:
	QUILT_PATCHES="debian/patches" quilt push -a
	cp -a /usr/share/misc/config.* .
	autoconf

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && \
	CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" \
	../configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
		     --prefix=/usr/lib --bindir=/usr/bin \
		     --with-wx --with-gl --without-dav \
		     --enable-system-raptor\
		     --enable-system-redland \
		     --enable-system-wx \
		     --enable-system-libwww \
		     --enable-offical-build && \
	cd -

	chmod -x doc/WX/*.html*
	touch configure-stamp


#Architecture 
build: build-stamp
build-stamp: configure-stamp 

	# Add here commands to compile the arch part of the package.
	HOME=$(CURDIR)/$(BUILD_DIR) $(MAKE) CFLAGS="$(CFLAGS)" -C $(BUILD_DIR)
	touch build-arch-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-rm -rf $(BUILD_DIR)
	# we also have to remove TRA, STR, PRS
	find -name "*.TRA" -exec rm -f '{}' \;
	find -name "*.STR" -exec rm -f '{}' \;
	find -name "*.PRS" -exec rm -f '{}' \;
	rm -f batch/*.LST
	cd batch && rm -f APP.h PRESEN.h STRUCT.h TRANS.h

	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_clean -k -A 
	dh_installdirs -A

	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	mkdir -p $(CURDIR)/debian/tmp/usr/ && cd $(CURDIR)/debian/tmp/usr/ \
		&& mkdir bin lib share
	$(MAKE) -C $(BUILD_DIR) install DESTDIR=$(CURDIR)/debian/tmp
	$(BUILD_DIR)/script_install_gnomekde $(CURDIR)/$(BUILD_DIR)/bin $(CURDIR)/debian/tmp/usr/share /usr/lib

	dh_install -A --sourcedir=debian/tmp

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch binary-indep
#binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
